{% extends "oauthclient/_layouts/cp" %}

{% set crumbs = [
  { label: "OAuth Apps"|t, url: url('oauthclient/apps') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}


{% set tabs = {
  0: {'label':'Configuration'|t('oauthclient'),'url':'#config-tab'}
} %}
{% if app is defined and app.id is defined %}
  {% set tabs = tabs|merge({
    1: {'label':'Setup Info'|t('oauthclient'),'url':'#info-tab'},
    2: {'label':'Tokens'|t('oauthclient'),'url':'#tokens-tab'},
  }) %}
{% endif %}

{% block content %}
  <div id="config-tab">
  <input type="hidden" name="id" value="{{ app.id }}">
  <input type="hidden" name="action" value="oauthclient/apps/save">
  {{ redirectInput('oauthclient/apps') }}

  {{ forms.textField({
    label: 'Name'|t('oauthclient'),
    name: 'name',
    id: 'name',
    value : app.name,
    required: true,
    errors: app.getErrors('name'),
  }) }}

  {{ forms.textField({
    label: 'Handle'|t('oauthclient'),
    name: 'handle',
    id: 'handle',
    value : app.handle,
    required: true,
    errors: app.getErrors('handle'),
  }) }}

  {{ forms.textField({
    label: 'Client ID'|t('oauthclient'),
    name: 'clientId',
    id: 'clientId',
    value : app.clientId,
    instructions: 'Enter your client ID here. You may use aliases here if you wish.',
    required: true,
    errors: app.getErrors('clientId'),
  }) }}

  {{ forms.textField({
    label: 'Client Secret'|t('oauthclient'),
    name: 'clientSecret',
    id: 'clientSecret',
    value : app.clientSecret,
    instructions: 'Enter your client secret here. You may use aliases here if you wish.',
    required: true,
    errors: app.getErrors('clientSecret'),
  }) }}

  {{ forms.selectField({
    first: true,
    label: 'Provider'|t('oauthclient'),
    id: 'provider',
    name: 'provider',
    options : providerOptions,
    value : app.provider,
    required: true,
    errors: app.provider.getErrors('type') ?? null,
    toggle: true
  }) }}

  {{ forms.textField({
    label: 'Scopes'|t('oauthclient'),
    name: 'scopes',
    id: 'scopes',
    value : app.scopes,
    instructions: 'Enter the app scopes here, comma separated',
    required: false,
    errors: app.getErrors('scopes'),
  }) }}
  </div>
  {% if app is defined and app.id is defined %}
  <div id="info-tab" class="hidden">
    <p>Set your authorized redirect URI to the following:</p>
    {{ forms.textField({
      value : app.getRedirectUrl(),
      required: false,
      disabled: true
    }) }}
  </div>

  <div id="tokens-tab" class="hidden">
    {% set tokens = app.getAllTokens() %}
    <table id="oauthapps" class="data fullwidth collapsible">
      <thead>
      <tr>
        <th class="thin">{{ "ID"|t }}</th>
        <th>{{ "Owner"|t }}</th>
        <th>{{ "Created On"|t }}</th>
        <th>{{ "Updated On"|t }}</th>
        <th>{{ "Expires On"|t }}</th>
      </tr>
      </thead>
      <tbody>
      {% for token in tokens %}
        <tr>
          <td>{{ token.id }}</td>
          <td>{% if token.getUser() %}{{ token.getUser().email }}{% else %}User Removed{% endif %}</td>
          <td>{{ token.dateCreated|datetime('short') }}</td>
          <td>{{ token.dateUpdated|datetime('short') }}</td>
          <td>{{ token.expiryDate|datetime('short') }} {% if token.isExpired() %}<strong><a href="{{ token.getRefreshURL() }}" target="_blank">EXPIRED</a></strong>{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}

{% if app is not defined or not app.handle %}
  {% js %}
    new Craft.HandleGenerator('#name', '#handle');
  {% endjs %}
{% endif %}
